<style type="">
    .nav-item{
        min-width: 200px;
    }
</style>
<ul class="nav nav-pills mb-4">
    <li>
        <a class="nav-link rounded-0 text-left py-4 active" href="#!/datos-fiscales">
            <span class="h2">1</span>
            <div>
                Datos Fiscales
            </div>
        </a>
    </li>
    <li>
        <a class="nav-link rounded-0 text-left py-4 text-muted">
            <span class="h2">2</span>
            <div>
                Documentos Fiscales
            </div>
        </a>
    </li>
    <li>
        <a class="nav-link rounded-0 text-left py-4 text-muted">
            <span class="h2">3</span>
            <div>
                Planes
            </div>
        </a>
    </li>
    <li>
        <a class="nav-link rounded-0 text-left py-4 text-muted">
            <span class="h2">4</span>
            <div>
                Forma de pago
            </div>
        </a>
    </li>
    <li>
        <a class="nav-link rounded-0 text-left py-4 text-muted">
            <span class="h2">5</span>
            <div>
                Resumen
            </div>
        </a>
    </li>
</ul>
<div ui-view></div>