<div class="card card-main">
    <div class="card-header">
        <a class="btn btn-outline-primary float-right ml-3" ui-sref="main.divisiones_sat_create" title="Agregar"><i class="fa fa-plus"></i></a>
        <a class="btn btn-outline-secondary float-right" ui-sref = "main.divisiones_sat_list_inactive" title="Lista de divisiones sat">Divisiones del sat inactivas</a>
        <h2> Divisiones sat</h2>
    </div>
    <div class="card-body">
        <table ng-if="divisiones_sat.length > 0" datatable="" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Clave
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        IVA
                    </th>
                    <th>
                        IVA Retenido
                    </th>
                    <th>
                        ISR Retenido
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="division_sat in divisiones_sat" ng-mouseover="division.hover = true" ng-mouseleave="division.hover = false" ng-init="division.hover = false">
                    <td>
                        {{division_sat.clave}}
                    </td>
                    <td>
                        {{division_sat.tipo_texto}}
                    </td>
                    <td>
                        {{division_sat.descripcion}}
                    </td>
                    <td>
                        {{division_sat.iva_texto}}
                    </td>
                    <td>
                        {{division_sat.iva_retenido_texto}}
                    </td>
                    <td>
                        {{division_sat.isr_retenido_texto}}
                    </td>
                    <td class="actions">
                        <span ng-show="division.hover === true" class="float-right">
                            <a ui-sref="main.grupos_sat_by_divisiones_sat_list({id:division_sat.id})" class="btn btn-sm btn-primary"><i class="fas fa-list"></i></a>
                            <a ui-sref="main.divisiones_sat_edit({id:division_sat.id})" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                            <button class="btn btn-sm btn-danger" ng-click="inactivate(division_sat.id)"><i class="fa fa-trash"></i></button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="divisiones_sat.length === 0">
            <h4>No hay registros...</h4>
        </div>
    </div>
</div>