<div class="card card-main">
    <div class="card-header">

        <h2> Personas sin contador asignado</h2>
    </div>
    <div class="card-body">
        <table ng-if="personas.length > 0" datatable="" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        RFC
                    </th>
                    <th>
                        Raz&oacute;n Social
                    </th>
                    <th>
                        Fecha de Registro
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="persona in personas" ng-mouseover="persona.hover = true" ng-mouseleave="persona.hover = false" ng-init="persona.hover = false">
                    <td>
                        {{persona.rfc}}
                    </td>
                    <td>
                        {{persona.razon_social}}
                    </td>
                    <td>
                        {{persona.fecha_registro}}
                    </td>
                    <td class="actions">
                        <span ng-show="persona.hover === true" class="float-right">
                            <a class="btn btn-sm btn-primary" ui-sref="main.asignar_contador_a_persona({persona_id:persona.id})" >Asignar</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="personas.length === 0">
            <h4>No hay registros...</h4>
        </div>
    </div>
</div>