<div class="container">
    <h2 class="text-center">Datos massiva para transferencia</h2>
    <div class="row">
        <p class="col-8">Beneficiario: MASSIVA CONTABILIDAD INNOVADORA S.C</p>
        <p class="col-4">Banco: BanRegio</p>
        <p class="col-6">N&uacute;mero de cuenta: 220-93562-001-5</p>
        <p class="col-6">Clabe interbancaria: 058180000002766829</p>
        <p class="col-12">Concepto: Inscripci&oacute;n mensual con massiva. Usuario: {{$root.usuario_acceso.persona_id}}</p>
    </div>                
    <button class="btn btn-md btn-primary float-right" type="button" ng-click="goToNextState()">Siguiente</button>
</div>