body{
    height: 100vh;
    margin: 0;
    padding-top: 60px;
}
.wrapper {
    height: 100%;
    background: #f3f3f4;
}
.wrapper nav.navbar {
    background: #f3f3f4;
    color: #d3d3d4;
    height: 60px;
    padding: 0;
    border-bottom: #d3d3d4 1px solid;
}
.wrapper nav.navbar .nav-link {
    color: #939394;
}
.wrapper nav.navbar .navbar-search{
    background-color: transparent;
}
.navbar-expand-md .navbar-collapse.right-nav{
    justify-content: flex-end;
}
.wrapper .main{
    position: relative;
    display: flex;
    height: 100%;
}

.wrapper .main .sidebar {
    background: #fff;
    height: 100%;
    width: 260px;
    position: absolute;
    position: static;
    transition: left .3s ease;
    left: -260px;
    top: 0;
    z-index: 111;
    overflow: auto;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper .main .sidebar .sidebar-profile{
    background-color: rgba(47,64,80,0.8);
    color: #fff;
    margin-bottom: 30px;
}
.wrapper .main .sidebar .sidebar-menu ul {
    list-style: none;
    padding: 0;
}
.wrapper .main .sidebar .sidebar-menu ul li ul li a{
    padding-left: 30px;
}
.wrapper .main .sidebar .sidebar-menu ul li{
    padding: 0;
    margin: 0;
}
.wrapper .main .sidebar .sidebar-menu ul li.submenu-open{
    border-left-color: #f3f3f4;
    background-color: rgba(135,137,145, .8);
}
.wrapper .main .sidebar .sidebar-menu ul li.submenu-open span{
    background-color: rgba(135,137,145, .9);
}
.wrapper .main .sidebar .sidebar-menu a, .wrapper .main .sidebar .sidebar-menu span{
    display: block;
    padding: 5px;
}
.wrapper .main .sidebar .sidebar-menu a:hover, .wrapper .main .sidebar .sidebar-menu span:hover {
    background-color: rgba(47,64,80, .8);
}
.wrapper .main .sidebar .sidebar-menu li.current {
    background-color: rgba(135,137,145, .8);
    color: #e7bc15;
    border-left: #e7bc15 2px solid;
}
.wrapper .main .sidebar .sidebar-menu li a.current{
    border-left: #e7bc15 2px solid;
}
.wrapper .main .sidebar span {
    color: #fff;
}
.wrapper .main .sidebar a {
    color: #fff;
    text-decoration: none;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.wrapper .main .pages {
    overflow: auto;
}

.btn-lg{
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}
.card.card.card-main {
    border-radius: 0;
    border: 0;
    background-color: transparent;
}
.card.card-main > .card-header{
    background-color: #fff;
}
.card.card-main > .card-header{
    border-radius: 0;
    margin: 0 -20px 25px;
    padding: 10px 35px;
    border-top: #eac52d 1px solid;
    border-bottom-color: #eac52d;
}
.card.card-main .card-header .btn{
    margin-top: 3px;
    margin-bottom: 3px;
}
.card.card-main > .card-body{
    background-color: #fff;
}

.card-filter .card-header{
    background-color: #eac52d;
    color: #fff;
}
.card-filter .card-body{
    background-color: #fbf4d7;
}

.table > tbody > tr > td {
    padding: 7px 5px;
}
.table > tbody > tr > td .btn {
    margin-top: -8px;
    margin-bottom: -5px;
}
a{
    color: #F1005E;
    text-decoration: underline;
}
a:hover{
    color: #c82333;
}
a.nav-link{
    color: #dfb816;
}
a.nav-link:hover{
    color: #e7bc15;
}