<div class="card card-main">
    <div class="card-header">
        <h2> Asignar contador a Persona</h2>
    </div>
    <div class="card-body">
        <form name="form" ng-submit="submit()" required>
            <p><strong>RFC:</strong> <label>{{form_persona.rfc}}</label></p>
            <p><strong>Raz&oacute;n Social:</strong> <label>{{form_persona.razon_social}}</label></p>
            <p><strong>Contador Actual:</strong> <label>{{form_persona.contador.nombre}}</label></p>

            <div ng-if="contadores.length > 0" class="form-group">
                <ui-select theme="select2" name="contadores" ng-model="contador_selected" on-select="get_id_jefe_contador(contador_selected.id)"style="min-width: 300px; width: 100%; cursor: pointer; " required>
                    <ui-select-match placeholder="Selecciona un contador" >Nombre: {{$select.selected.nombre}} Personas: {{$select.selected.contadores.numero_personas}} </ui-select-match>
                    <ui-select-choices repeat="contador in contadores | filter: $select.search" >
                        <strong>Nombre:</strong> {{contador.nombre}}
                        <strong>Número de personas asignadas actualmente:</strong> {{contador.contadores.numero_personas}}
                    </ui-select-choices>
                </ui-select>
            </div>
            <div ng-if="contadores.length === 0">
                S&oacute;lo tienes un contador asignado
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-md btn-primary float-right">Guardar</button>
            </div>
        </form>
    </div>
</div>